In [7]:
import pandas as pd
df_movie_metadata = pd.read_csv('movies_metadata.csv')
df_credit = pd.read_csv('credits.csv')

/var/folders/p9/tng37gp95ts0qm2k8qsp21300000gn/T/ipykernel_63532/937574324.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movie_metadata = pd.read_csv('movies_metadata.csv')

In [8]:
df_movie_metadata

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [9]:
df_credit

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [18]:

df_movie_metadata[df_movie_metadata['id']=='1997-08-20']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_credit['id'].describe()

count     45476.000000
mean     108345.997537
std      112443.796536
min           2.000000
25%       26443.250000
50%       60002.500000
75%      157302.000000
max      469172.000000
Name: id, dtype: float64

In [19]:
# Convert 'id' column to int64 data type


# Merge the dataframes using pd.concat
total_df = pd.concat([df_movie_metadata, df_credit], axis=1)

In [20]:
total_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,id
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [30]:
extracted_df = total_df[['original_title', 'genres', 'cast', 'crew', 'overview']]

In [31]:
extracted_df

,original_title,genres,cast,crew,overview
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Just when George Banks has recovered from his ...
...,...,...,...,...,...
45471,NaN,NaN,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",NaN
45472,NaN,NaN,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",NaN
45473,NaN,NaN,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",NaN
45474,NaN,NaN,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",NaN
45475,NaN,NaN,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",NaN

In [34]:
extracted_df.dropna(subset=['original_title', 'genres'], inplace=True)

/var/folders/p9/tng37gp95ts0qm2k8qsp21300000gn/T/ipykernel_63532/657043668.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extracted_df.dropna(subset=['original_title', 'genres'], inplace=True)

In [35]:
extracted_df

,original_title,genres,cast,crew,overview
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Just when George Banks has recovered from his ...
...,...,...,...,...,...
45461,رگ خواب,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4a71c3a36847f81ce35b', 'de...",Rising and falling between a man and woman.
45462,Siglo ng Pagluluwal,"[{'id': 18, 'name': 'Drama'}]",[],"[{'credit_id': '539ef1090e0a263dd00000d7', 'de...",An artist struggles to finish his work while a...
45463,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...","When one of her hits goes wrong, a professiona..."
45464,Satana likuyushchiy,[],"[{'cast_id': 0, 'character': 'Lauren', 'credit...","[{'credit_id': '587626f4c3a3682b33008299', 'de...","In a small town live two brothers, one a minis..."
45465,Queerama,[],"[{'cast_id': 5, 'character': '', 'credit_id': ...","[{'credit_id': '5330178a9251413a720055e3', 'de...",50 years after decriminalisation of homosexual...

In [27]:
def extract_genres(x):
    genres = []
    for i in eval(x):
        genres.append(i['name'])
    return genres

In [36]:
extracted_df['genres'] = extracted_df['genres'].apply(extract_genres)

/var/folders/p9/tng37gp95ts0qm2k8qsp21300000gn/T/ipykernel_63532/2864823977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extracted_df['genres'] = extracted_df['genres'].apply(extract_genres)

In [37]:
extracted_df

,original_title,genres,cast,crew,overview
0,Toy Story,"[Animation, Comedy, Family]","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,"[Adventure, Fantasy, Family]","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,"[Romance, Comedy]","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"[Comedy, Drama, Romance]","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,[Comedy],"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Just when George Banks has recovered from his ...
...,...,...,...,...,...
45461,رگ خواب,"[Drama, Family]","[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4a71c3a36847f81ce35b', 'de...",Rising and falling between a man and woman.
45462,Siglo ng Pagluluwal,[Drama],[],"[{'credit_id': '539ef1090e0a263dd00000d7', 'de...",An artist struggles to finish his work while a...
45463,Betrayal,"[Action, Drama, Thriller]","[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...","When one of her hits goes wrong, a professiona..."
45464,Satana likuyushchiy,[],"[{'cast_id': 0, 'character': 'Lauren', 'credit...","[{'credit_id': '587626f4c3a3682b33008299', 'de...","In a small town live two brothers, one a minis..."
45465,Queerama,[],"[{'cast_id': 5, 'character': '', 'credit_id': ...","[{'credit_id': '5330178a9251413a720055e3', 'de...",50 years after decriminalisation of homosexual...

In [38]:
extracted_df['cast'][0]

"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"

In [39]:
def extract_crew(x):
    crews = []
    for i in eval(x):
        crews.append(i['name'])
    return crews

In [40]:
extracted_df['crew'] = extracted_df['crew'].apply(extract_crew)

/var/folders/p9/tng37gp95ts0qm2k8qsp21300000gn/T/ipykernel_63532/3810888898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extracted_df['crew'] = extracted_df['crew'].apply(extract_crew)

In [41]:
extracted_df

,original_title,genres,cast,crew,overview
0,Toy Story,"[Animation, Comedy, Family]","[{'cast_id': 14, 'character': 'Woody (voice)',...","[John Lasseter, Joss Whedon, Andrew Stanton, J...","Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,"[Adventure, Fantasy, Family]","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[Larry J. Franco, Jonathan Hensleigh, James Ho...",When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,"[Romance, Comedy]","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[Howard Deutch, Mark Steven Johnson, Mark Stev...",A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"[Comedy, Drama, Romance]","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[Forest Whitaker, Ronald Bass, Ronald Bass, Ez...","Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,[Comedy],"[{'cast_id': 1, 'character': 'George Banks', '...","[Alan Silvestri, Elliot Davis, Nancy Meyers, N...",Just when George Banks has recovered from his ...
...,...,...,...,...,...
45461,رگ خواب,"[Drama, Family]","[{'cast_id': 2, 'character': '', 'credit_id': ...",[Georges Méliès],Rising and falling between a man and woman.
45462,Siglo ng Pagluluwal,[Drama],[],"[Robert Fulton, Robert Gardner, Robert Gardner...",An artist struggles to finish his work while a...
45463,Betrayal,"[Action, Drama, Thriller]","[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[A. R. Rahman, Boney Kapoor, Mukesh Talreja, S...","When one of her hits goes wrong, a professiona..."
45464,Satana likuyushchiy,[],"[{'cast_id': 0, 'character': 'Lauren', 'credit...","[Shanra J. Kehl, Shanra J. Kehl]","In a small town live two brothers, one a minis..."
45465,Queerama,[],"[{'cast_id': 5, 'character': '', 'credit_id': ...","[Leo Tolstoy, Paolo Taviani, Paolo Taviani, Vi...",50 years after decriminalisation of homosexual...

In [42]:
def extract_cast(x):
    casts = []
    for i in eval(x):
        casts.append(i['name'])
    return casts

In [43]:
extracted_df['cast'] = extracted_df['cast'].apply(extract_cast)

/var/folders/p9/tng37gp95ts0qm2k8qsp21300000gn/T/ipykernel_63532/991837553.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extracted_df['cast'] = extracted_df['cast'].apply(extract_cast)

In [49]:
extracted_df['original_title'] = extracted_df['original_title'].apply(lambda x: x.lower())

/var/folders/p9/tng37gp95ts0qm2k8qsp21300000gn/T/ipykernel_63532/3797032545.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extracted_df['original_title'] = extracted_df['original_title'].apply(lambda x: x.lower())

In [50]:
extracted_df

,original_title,genres,cast,crew,overview
0,toy story,"[Animation, Comedy, Family]","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[John Lasseter, Joss Whedon, Andrew Stanton, J...","Led by Woody, Andy's toys live happily in his ..."
1,jumanji,"[Adventure, Fantasy, Family]","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[Larry J. Franco, Jonathan Hensleigh, James Ho...",When siblings Judy and Peter discover an encha...
2,grumpier old men,"[Romance, Comedy]","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[Howard Deutch, Mark Steven Johnson, Mark Stev...",A family wedding reignites the ancient feud be...
3,waiting to exhale,"[Comedy, Drama, Romance]","[Whitney Houston, Angela Bassett, Loretta Devi...","[Forest Whitaker, Ronald Bass, Ronald Bass, Ez...","Cheated on, mistreated and stepped on, the wom..."
4,father of the bride part ii,[Comedy],"[Steve Martin, Diane Keaton, Martin Short, Kim...","[Alan Silvestri, Elliot Davis, Nancy Meyers, N...",Just when George Banks has recovered from his ...
...,...,...,...,...,...
45461,رگ خواب,"[Drama, Family]","[Jeanne d'Alcy, Georges Méliès]",[Georges Méliès],Rising and falling between a man and woman.
45462,siglo ng pagluluwal,[Drama],[],"[Robert Fulton, Robert Gardner, Robert Gardner...",An artist struggles to finish his work while a...
45463,betrayal,"[Action, Drama, Thriller]","[Sridevi Kapoor, Sajal Ali, Akshaye Khanna, Na...","[A. R. Rahman, Boney Kapoor, Mukesh Talreja, S...","When one of her hits goes wrong, a professiona..."
45464,satana likuyushchiy,[],"[Markie Adams, Roberto Aguire, Tina Arning, La...","[Shanra J. Kehl, Shanra J. Kehl]","In a small town live two brothers, one a minis..."
45465,queerama,[],"[Giulio Brogi, Renato Cestiè, Vito Cipolla, Da...","[Leo Tolstoy, Paolo Taviani, Paolo Taviani, Vi...",50 years after decriminalisation of homosexual...

In [51]:
extracted_df[extracted_df['original_title']=='titanic']

,original_title,genres,cast,crew,overview
1639,titanic,"[Drama, Romance, Thriller]","[Kate Winslet, Leonardo DiCaprio, Frances Fish...","[Mali Finn, James Horner, James Cameron, James...","84 years later, a 101-year-old woman named Ros..."
3285,titanic,"[Drama, Action, Romance]","[Clifton Webb, Barbara Stanwyck, Robert Wagner...","[Louis R. Loeffler, Lyle R. Wheeler, Charles B...","Unhappily married, Julia Sturges decides to go..."
25473,titanic,"[Action, Drama, Romance]",[],"[Jessica Miller, Cary Bell, Cary Bell, Susan G...",A story of the romances of two couples upon th...

In [57]:
genres = set()
for i in extracted_df['genres']:
    for j in i:
        genres.add(j)

In [58]:
len(genres)

32

In [59]:
genres

{'Action',
 'Adventure',
 'Animation',
 'Aniplex',
 'BROSTA TV',
 'Carousel Productions',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'GoHands',
 'History',
 'Horror',
 'Mardock Scramble Production Committee',
 'Music',
 'Mystery',
 'Odyssey Media',
 'Pulser Productions',
 'Rogue State',
 'Romance',
 'Science Fiction',
 'Sentai Filmworks',
 'TV Movie',
 'Telescene Film Group Productions',
 'The Cartel',
 'Thriller',
 'Vision View Entertainment',
 'War',
 'Western'}

In [60]:
genre_dic = {}
for genre in genres:
    first_letter = genre[0]
    if first_letter not in genre_dic:
        genre_dic[first_letter] = [genre]
    else:
        genre_dic[first_letter].append(genre)

In [61]:
genre_dic

{'M': ['Mystery', 'Music', 'Mardock Scramble Production Committee'],
 'A': ['Aniplex', 'Animation', 'Adventure', 'Action'],
 'D': ['Drama', 'Documentary'],
 'V': ['Vision View Entertainment'],
 'T': ['Thriller',
  'The Cartel',
  'TV Movie',
  'Telescene Film Group Productions'],
 'C': ['Carousel Productions', 'Comedy', 'Crime'],
 'R': ['Rogue State', 'Romance'],
 'W': ['War', 'Western'],
 'P': ['Pulser Productions'],
 'F': ['Fantasy', 'Foreign', 'Family'],
 'G': ['GoHands'],
 'H': ['Horror', 'History'],
 'O': ['Odyssey Media'],
 'S': ['Sentai Filmworks', 'Science Fiction'],
 'B': ['BROSTA TV']}

In [66]:
genre_required = input('Enter the genre: ')
while genre_required not in genres:
    if genre_required[0].upper() in genre_dic:
        print('Genre not found, do you mean {}'.format(genre_dic[genre_required[0].upper()]))
    else:
        print('Genre not found, please try again.')
    genre_required = input('Enter the genre: ')

Genre not found, please try again.
Genre not found, do you mean ['Fantasy', 'Foreign', 'Family']
Genre not found, do you mean ['Pulser Productions']
Genre not found, please try again.
Genre not found, do you mean ['War', 'Western']
Genre not found, please try again.
Genre not found, do you mean ['Rogue State', 'Romance']
Genre not found, do you mean ['Thriller', 'The Cartel', 'TV Movie', 'Telescene Film Group Productions']

In [71]:
def get_required_genre_list():
    genre_required = input('Enter your favorite genre: ')
    genre_list = []
    while genre_required != 'stop':
        while genre_required not in genres:
            if genre_required[0].upper() in genre_dic:
                print('Genre not found, do you mean {}'.format(genre_dic[genre_required[0].upper()]))
            else:
                print('Genre not found, please try again.')
            genre_required = input('Enter the genre: ')
        genre_list.append(genre_required)
        genre_required = input("Enter the genre (or enter 'stop' to stop): ")
    return genre_list

In [72]:
genre_list = get_required_genre_list()

Genre not found, do you mean ['Fantasy', 'Foreign', 'Family']
Genre not found, do you mean ['War', 'Western']
Genre not found, please try again.
Genre not found, do you mean ['Aniplex', 'Animation', 'Adventure', 'Action']

In [73]:
genre_list

['Family', 'War', 'Action']

In [83]:
def relevant_score(list, row_list):
    return len(set(list).intersection(set(row_list)))
    
def get_relevant_movies(genre_list):
    extracted_df['relevant_score'] = extracted_df['genres'].apply(lambda x: relevant_score(genre_list, x))
    extracted_df.sort_values(by=['relevant_score'], ascending=False, inplace=True)
    return pd.Series(extracted_df['original_title'].values).head(10)

get_relevant_movies(genre_list)

/var/folders/p9/tng37gp95ts0qm2k8qsp21300000gn/T/ipykernel_63532/3296426911.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extracted_df['relevant_score'] = extracted_df['genres'].apply(lambda x: relevant_score(genre_list, x))
/var/folders/p9/tng37gp95ts0qm2k8qsp21300000gn/T/ipykernel_63532/3296426911.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extracted_df.sort_values(by=['relevant_score'], ascending=False, inplace=True)

0                        memorial day
1      g.i. joe: the revenge of cobra
2                   battlefield earth
3                            megamind
4    the nutcracker: the untold story
5                  casablanca express
6          the guns of fort petticoat
7                pokémon 3: the movie
8                  god is my co-pilot
9                         the snowman
dtype: object